.presentation {
  background: url("../img/bg_presentation.jpg") no-repeat center top/cover;
  width: 100vw;
  position: relative;
  z-index: 0;
  padding: 120px 0 0 0;
}

.presentation::before {
  content: " ";
  display: block;
  background: rgba(190, 190, 190, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.presentation__container {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*  Левый блок  */

.presentation__left-block {
  width: 32%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 5px;
}

.presentation-slider {
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.presentation-slider__img {
  height: 65%;
  padding-top: 20px;
  position: relative;
}

.presentation-slider__img img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.presentation-slider__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  background-color: rgb(0, 0, 210);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.presentation-slider__btn:hover {
  background-color: rgb(0, 0, 150);
}

.presentation-slider__btn:active {
  box-shadow: none;
}

.presentation-slider__description {
  text-align: center;
  margin: 15px 0;
}

.presentation-slider__price-wrapper {
  background-color: rgba(255, 0, 0, 0.9);
  position: relative;
  padding: 10px 30px;
  width: 250px;
}

.presentation-slider__price span {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.presentation-slider__romb {
  width: 50px;
  height: 50px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: -15px;
}

/*  // Левый блок  */


/*  Правый блок  */

.presentation__right-block {
  width: 65%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.why-us {
  padding: 35px 25px;
}

h2 {
  margin-bottom: 30px;
  position: relative;
}

h2::before {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background-color: brown;
  position: absolute;
  left: 0;
  bottom: -10px;
}


.why-us__advantages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  padding-bottom: 30px;
  margin-bottom: 35px;
}

.why-us__advantages-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 49%;
  margin-top: 20px;

}

.advantages-item__icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 205, 0.5);
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px 0;
  flex-shrink: 0;
} 

.advantages-item__text h3 {
  font-weight: 600;
  margin-top: -5px;
  font-size: 17px;
}

.why-us__btn {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.9);
  display: block;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.why-us__btn:hover {
  background-color: rgba(220,0,0, 0.9);
}

.why-us__btn:active {
  box-shadow: none;
}


/*  // Правый блок  */

@media all and (max-width: 1200px) {
  .presentation__right-block,
  .presentation__left-block {
    width: 49.5%;
 }

 .why-us {
   padding: 15px;
 }

 .why-us__advantages-item {
   width: 100%;
   font-size: 14px;
 }

 .why-us__text {
   font-size: 14px;
   margin-bottom: 10px;
 }

 .why-us__advantages {
   height: 150px;
   overflow: scroll;
   margin-bottom: 15px;
   border-bottom: none;
 }

 .presentation-slider {
   padding-bottom: 20px;
 }

}

@media all and (max-width: 650px) {
  .presentation__right-block,
  .presentation__left-block {
    width: 100%;
 }

 .why-us__advantages {
   overflow: visible;
   height: auto;
 }

 .why-us__advantages-item {
  width: 49.5%;
  }

  .presentation__left-block {
    height: 500px;
    margin-top: 60px;
  }

  .presentation__right-block {
    margin-top: 20px;
  }
}

@media all and (max-width: 500px) {
  .why-us__advantages-item {
    width: 100%;
  } 

  .why-us__advantages {
    padding-bottom: 0;
  }
}