.product-card {
  padding-top: 120px;
}

.product-card__container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.product-card__item {
  width: 50%;
}

.product-card__item:first-child {
  padding: 0px 20px 20px 0;
}

.product-card__item:last-child {
  padding: 00px 0 20px 20px;
}

.product-card__img {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 7px;
  cursor: pointer;
}

.product-card__img img {
  display: block;
  margin: 0 auto;
}

.product-card__availability {
  display:flex;
  align-items: center;
  width: 100%;
  background-color: #dff0d8;
  padding:15px;
  border-radius: 5px;
  color: #3c763d;
  font-weight: bold;
  text-align: center;
}

.product-card__availability p,
.product-card__delivery-item p {
  margin-left: 7px;
}

.product-card__availability span,
.product-card__delivery-item span {
  color: rgb(255, 0, 0);
}

.product-card__delivery {
  padding: 20px 0;
}

.product-card__delivery-item {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.product-card__delivery-item i {
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 2px 0;
}

.product-card__price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product-card__price {
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  margin-right: auto;
}

.product-card__btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(46, 139, 87);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  transition: 0.2s;
  margin-top: 10px;
}

.product-card__btn:hover {
  background-color: rgb(0, 100, 0);
}

.product-card__btn:active {
  box-shadow: none;
}

.product-card__slider-wrapper {
  margin-top: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 7px;
}

.product-card__slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
}

.product-card__slider-band {
  display: flex;
  width: 200%;
  transition: 0.3s;
}

.product-card__slider-item {
  width: calc(100% / 6);
  cursor: pointer;
}

.product-card__slider-item img {
  width: 100%;
  height: 100%;
}

.product-card__slider-btn {
  position: absolute;
  top: calc(50% - 30px);
  width: 50px;
  height: 50px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.product-card__slider-btn.left {
  left: 10px;
}

.product-card__slider-btn.right {
  right: 10px;
}

.product-card__slider-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.product-card__slider-btn:active {
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  background-color: rgb(245, 245, 245);
}

.product-card__slider-btn img {
  width: 100%;
}

.product-card__description-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.product-card__item-descriotion,
.product-card__item-specifications {
  width: 50%;
}

.product-card__item-descriotion {
  padding: 0 25px 0 0;
  border-right: 1px solid rgb(190, 190, 190);
}

.product-card__item-specifications {
  padding: 0 0 0 25px;
}

.specifications__container {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.specifications__container:hover {
  background-color: rgb(240, 240, 240);
}

.specifications__item:first-child {
  margin-right: auto;
}

@media all and (max-width: 920px) {
  .product-card__item {
    width: 100%;
  }
  
  .product-card__item:first-child, 
  .product-card__item:last-child {
    padding: 0;
  }

  .product-card__item:last-child {
    padding-bottom: 20px;
  }

  .product-card__item-descriotion {
    border-right: none;
  }

  .product-card__item-descriotion, 
  .product-card__item-specifications {
    width: 100%;
    padding: 0;
  }

  .product-card__item-descriotion {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

}

@media all and (max-width: 650px) {
  .product-card__slider-band {
    width: 300%;
  }
}

@media all and (max-width: 450px) {
  .product-card__img img {
    width: 100%;
  }

  .specifications__container {
    font-size: 12px;
  }

  .product-card__slider-band {
    width: 600%;
  }

}